<a href="https://colab.research.google.com/github/parthasarathydNU/gen-ai-coursework/blob/main/loan-data-classification/loan_data_set_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loan Dataset Classifier

Implement a neural network based for the loan data with Decision as the output attribute.

In [1]:
!pip install py-AutoClean

Collecting py-AutoClean
  Downloading py-AutoClean-1.1.3.tar.gz (9.5 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (from py-AutoClean) (1.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from py-AutoClean) (1.25.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from py-AutoClean) (2.0.3)
Collecting loguru (from py-AutoClean)
  Downloading loguru-0.7.2-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.5/62.5 kB 937.5 kB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->py-AutoClean) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->py-AutoClean) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas->py-AutoClean) (2024.1)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->py-AutoClean) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->py-AutoClean) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->py-AutoClean) (3.5.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->py-AutoClean) (1.16.0)
Building wheels for collected packages: py-AutoClean
  Building wheel for py-AutoClean (setup.py) ... done
  Created wheel for py-AutoClean: filename=py_AutoClean-1.1.3-py3-none-any.whl size=10273 sha256=b6181e0d072d22c9c4b23fc8609ae51d029f722a7568f26ab87f095e7996e2fb
  Stored in directory: /root/.cache/pip/wheels/b5/13/2b/3a5fdae6161f870ea670f2bf3a7157f8a5b38b166282b6bc92
Successfully built py-AutoClean
Installing collected packages: loguru, py-AutoClean
Successfully installed loguru-0.7.2 py-AutoClean-1.1.3

In [2]:
import pandas as pd

In [3]:
from AutoClean import AutoClean

In [ ]:
import python-calamine

In [18]:
loanData = pd.read_csv("https://raw.githubusercontent.com/parthasarathydNU/gen-ai-coursework/main/loan-data-classification/loan-data.csv")
loanData.head()

,Sex,Age,Time_at_address,Res_status,Telephone,Occupation,Job_status,Time_employed,Time_bank,Liab_ref,Acc_ref,Home_Expn,Balance,Decision
0,M,50.750000,0.585,owner,given,unemploye,unemploye,0,0,f,given,145,0,reject
1,M,19.670000,10.000,rent,not_given,labourer,governmen,0,0,t,given,140,0,reject
2,F,52.830002,15.000,owner,given,creative_,private_s,5,14,f,given,0,2200,accept
3,M,22.670000,2.540,rent,not_given,creative_,governmen,2,0,f,given,0,0,accept
4,M,29.250000,13.000,owner,given,driver,governmen,0,0,f,given,228,0,reject

In [19]:
pipeline = AutoClean(loanData, encode_categ=['onehot', ['Sex', 'Res_status', 'Telephone','Liab_ref','Acc_ref','Decision'], 'label', ['Occupation','Job_status']])
#TODO Save log files for future review

AutoClean process completed in 0.207206 seconds
Logfile saved to: /content/autoclean.log

In [20]:
cleanedDf = pipeline.output
cleanedDf.head()

,Sex,Age,Time_at_address,Res_status,Telephone,Occupation,Job_status,Time_employed,Time_bank,Liab_ref,...,Liab_ref_f,Liab_ref_t,Sex_F,Sex_M,Acc_ref_given,Acc_ref_oth_inst_,Res_status_owner,Res_status_rent,Telephone_given,Telephone_not_given
0,M,50.750000,0.585,owner,given,unemploye,unemploye,0,0,f,...,True,False,False,True,True,False,True,False,True,False
1,M,19.670000,10.000,rent,not_given,labourer,governmen,0,0,t,...,False,True,False,True,True,False,False,True,False,True
2,F,52.830002,15.000,owner,given,creative_,private_s,5,7,f,...,True,False,True,False,True,False,True,False,True,False
3,M,22.670000,2.540,rent,not_given,creative_,governmen,2,0,f,...,True,False,False,True,True,False,False,True,False,True
4,M,29.250000,13.000,owner,given,driver,governmen,0,0,f,...,True,False,False,True,True,False,True,False,True,False

In [21]:
# prompt: list down the columns names in the above dataset
# Group them by categorical and numeric columns
# I want to know what data is present in each columns of the cleaned dataset
# I only want to know information about the columns that were generated after the dataset cleaning process

# Get the names of all columns in the cleaned dataset
cleaned_columns = cleanedDf.columns.tolist()

# Identify categorical and numerical columns
categorical_columns = cleanedDf.select_dtypes(include=['object']).columns.tolist()
numeric_columns = cleanedDf.select_dtypes(include=['int64', 'float64']).columns.tolist()

# Print information about each column
print("Categorical Columns:")
for col in categorical_columns:
  print(f"- {col}: {cleanedDf[col].unique()}")

print("\nNumeric Columns:")
for col in numeric_columns:
  print(f"- {col}: min={cleanedDf[col].min()}, max={cleanedDf[col].max()}, mean={cleanedDf[col].mean()}")

# Print information about columns generated after cleaning
generated_columns = [col for col in cleaned_columns if col not in loanData.columns]
print("\nGenerated Columns:")
for col in generated_columns:
  print(f"- {col}: {cleanedDf[col].unique()}")

Categorical Columns:
- Sex: ['M' 'F']
- Res_status: ['owner' 'rent']
- Telephone: ['given' 'not_given']
- Occupation: ['unemploye' 'labourer' 'creative_' 'driver' 'professio' 'manager'
 'guard_etc' 'executive' 'office_st' 'productio' 'semi_pro' 'sales']
- Job_status: ['unemploye' 'governmen' 'private_s' 'self_empl' 'retired' 'student'
 'military']
- Liab_ref: ['f' 't']
- Acc_ref: ['given' 'oth_inst_']
- Decision: ['reject' 'accept']

Numeric Columns:
- Age: min=15.17000008, max=61.61999988, mean=31.36424242247086
- Time_at_address: min=0.0, max=16.0, mean=4.542657341522144
- Time_employed: min=0, max=5, mean=1.3776223776223777
- Time_bank: min=0, max=7, mean=1.7575757575757576
- Home_Expn: min=0, max=560, mean=175.92773892773891
- Balance: min=0, max=1210, mean=293.68065268065266
- Occupation_lab: min=0, max=11, mean=4.79020979020979

Generated Columns:
- Job_status_governmen: [False  True]
- Job_status_military: [False  True]
- Job_status_private_s: [False  True]
- Job_status_retired: [False  True]
- Job_status_self_empl: [False  True]
- Job_status_student: [False  True]
- Job_status_unemploye: [ True False]
- Decision_accept: [False  True]
- Decision_reject: [ True False]
- Occupation_lab: <IntegerArray>
[11, 4, 0, 1, 8, 5, 3, 2, 6, 7, 10, 9]
Length: 12, dtype: Int64
- Liab_ref_f: [ True False]
- Liab_ref_t: [False  True]
- Sex_F: [False  True]
- Sex_M: [ True False]
- Acc_ref_given: [ True False]
- Acc_ref_oth_inst_: [False  True]
- Res_status_owner: [ True False]
- Res_status_rent: [False  True]
- Telephone_given: [ True False]
- Telephone_not_given: [False  True]

In [22]:
# prompt: pick all columns in the generated columns list and convert [ True False] to 1 and 0

for col in generated_columns:
  cleanedDf[col] = cleanedDf[col].apply(lambda x: 1 if x else 0)

In [23]:
cleanedDf.head()

,Sex,Age,Time_at_address,Res_status,Telephone,Occupation,Job_status,Time_employed,Time_bank,Liab_ref,...,Liab_ref_f,Liab_ref_t,Sex_F,Sex_M,Acc_ref_given,Acc_ref_oth_inst_,Res_status_owner,Res_status_rent,Telephone_given,Telephone_not_given
0,M,50.750000,0.585,owner,given,unemploye,unemploye,0,0,f,...,1,0,0,1,1,0,1,0,1,0
1,M,19.670000,10.000,rent,not_given,labourer,governmen,0,0,t,...,0,1,0,1,1,0,0,1,0,1
2,F,52.830002,15.000,owner,given,creative_,private_s,5,7,f,...,1,0,1,0,1,0,1,0,1,0
3,M,22.670000,2.540,rent,not_given,creative_,governmen,2,0,f,...,1,0,0,1,1,0,0,1,0,1
4,M,29.250000,13.000,owner,given,driver,governmen,0,0,f,...,1,0,0,1,1,0,1,0,1,0

In [35]:
# prompt: 1. Extract only the numeric columns from the cleaned data frame into a new data frame and call it modelData
# 2. Drop the following columns, 'Telephone_not_given', 'Sex_M', 'Liab_ref_f', 'Acc_ref_oth_inst_', 'Liab_ref_f', 'Decision_reject'
# 3. List the column names and data types existing after this step

# Extract only the numeric columns
modelData = cleanedDf.select_dtypes(include=['int64', 'float64'])

# Drop the specified columns
modelData.drop(columns=['Telephone_not_given', 'Sex_M', 'Liab_ref_f', 'Acc_ref_oth_inst_', 'Liab_ref_f', 'Decision_reject'], inplace=True)

# Print column names and data types
print(modelData.columns)
print(len(modelData.columns))
print(modelData.dtypes)

Index(['Age', 'Time_at_address', 'Time_employed', 'Time_bank', 'Home_Expn',
       'Balance', 'Job_status_governmen', 'Job_status_military',
       'Job_status_private_s', 'Job_status_retired', 'Job_status_self_empl',
       'Job_status_student', 'Job_status_unemploye', 'Decision_accept',
       'Occupation_lab', 'Liab_ref_t', 'Sex_F', 'Acc_ref_given',
       'Res_status_owner', 'Res_status_rent', 'Telephone_given'],
      dtype='object')
21
Age                     float64
Time_at_address         float64
Time_employed             Int64
Time_bank                 Int64
Home_Expn                 Int64
Balance                   Int64
Job_status_governmen      int64
Job_status_military       int64
Job_status_private_s      int64
Job_status_retired        int64
Job_status_self_empl      int64
Job_status_student        int64
Job_status_unemploye      int64
Decision_accept           int64
Occupation_lab            int64
Liab_ref_t                int64
Sex_F                     int64
Acc_ref_given             int64
Res_status_owner          int64
Res_status_rent           int64
Telephone_given           int64
dtype: object

In [71]:
import torch
from sklearn.model_selection import train_test_split

# Function to split data and convert to tensors
def prepare_data(dataframe, target_column, test_size=0.2, random_state=42):
    # Split the data into features and target
    y = dataframe[target_column].values.reshape(-1, 1)
    X = dataframe.drop(columns=[target_column]).to_numpy(dtype='float32')

    # Split into training and testing sets
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=random_state)

    # Convert to tensors
    X_train_tensor = torch.tensor(X_train, dtype=torch.float32)
    y_train_tensor = torch.tensor(y_train, dtype=torch.float32)
    X_test_tensor = torch.tensor(X_test, dtype=torch.float32)
    y_test_tensor = torch.tensor(y_test, dtype=torch.float32)

    return X_train_tensor, X_test_tensor, y_train_tensor, y_test_tensor

In [72]:
X_train, X_test, y_train, y_test = prepare_data(modelData, "Decision_accept")
# Print the sizes of the tensors to verify
print("X_train size:", X_train.size())
print("y_train size:", y_train.size())
print("X_test size:", X_test.size())
print("y_test size:", y_test.size())

X_train size: torch.Size([343, 20])
y_train size: torch.Size([343, 1])
X_test size: torch.Size([86, 20])
y_test size: torch.Size([86, 1])

## Building Training a MLP on this dataset

In [41]:
import torch.nn as nn
import torch.optim as optim

In [42]:
# Defining the sigmoid activation function
def sigmoid(x):
    return 1 / (1 + torch.exp(-x))

### Activation Functions:

It's common to use activation functions like ReLU in hidden layers for better training dynamics. The sigmoid function is typically used only in the output layer for binary classification.

In [56]:
# We are constructing a 2 layer MPL here
class MLP(nn.Module):
    def __init__(self):
        super(MLP, self).__init__()
        # The first layer takes in the 20 features and gives out 10 activation values
        self.fc1 = nn.Linear(20, 10)
        # The second layer takes in 10 input values and gives out 1 value (probability of class 1)
        self.fc2 = nn.Linear(10, 1)


    def forward(self, x):
        x = torch.relu(self.fc1(x))
        x = torch.sigmoid(self.fc2(x))
        return x

### Loss Function:

For binary classification, you should use BCELoss (Binary Cross-Entropy Loss) or BCEWithLogitsLoss if you don't apply the sigmoid activation in the output layer (which combines a sigmoid layer and the BCELoss in a single class).

In [47]:
import torch.optim as optim

In [62]:
# Initialize the model, loss function, and optimizer
model = MLP()

In [66]:
criterion = nn.MSELoss()  # Binary Cross-Entropy Loss
optimizer = optim.SGD(model.parameters(), lr=0.01)

In [74]:
y_train.size()

torch.Size([343, 1])

In [76]:
# Training loop
epochs = 2000
for epoch in range(epochs):
    model.train()
    optimizer.zero_grad()
    output = model(X_train)
    loss = criterion(output, y_train)
    loss.backward()
    optimizer.step()
    if (epoch + 1) % 50 == 0:
        print(f'Epoch [{epoch+1}/{epochs}], Loss: {loss.item():.4f}')

Epoch [50/2000], Loss: 0.1568
Epoch [100/2000], Loss: 0.1572
Epoch [150/2000], Loss: 0.1605
Epoch [200/2000], Loss: 0.1577
Epoch [250/2000], Loss: 0.1566
Epoch [300/2000], Loss: 0.1585
Epoch [350/2000], Loss: 0.1593
Epoch [400/2000], Loss: 0.1573
Epoch [450/2000], Loss: 0.1562
Epoch [500/2000], Loss: 0.1572
Epoch [550/2000], Loss: 0.1569
Epoch [600/2000], Loss: 0.1578
Epoch [650/2000], Loss: 0.1583
Epoch [700/2000], Loss: 0.1565
Epoch [750/2000], Loss: 0.1572
Epoch [800/2000], Loss: 0.1573
Epoch [850/2000], Loss: 0.1569
Epoch [900/2000], Loss: 0.1560
Epoch [950/2000], Loss: 0.1560
Epoch [1000/2000], Loss: 0.1557
Epoch [1050/2000], Loss: 0.1541
Epoch [1100/2000], Loss: 0.1559
Epoch [1150/2000], Loss: 0.1543
Epoch [1200/2000], Loss: 0.1560
Epoch [1250/2000], Loss: 0.1562
Epoch [1300/2000], Loss: 0.1554
Epoch [1350/2000], Loss: 0.1557
Epoch [1400/2000], Loss: 0.1574
Epoch [1450/2000], Loss: 0.1567
Epoch [1500/2000], Loss: 0.1528
Epoch [1550/2000], Loss: 0.1556
Epoch [1600/2000], Loss: 0.1535
Epoch [1650/2000], Loss: 0.1557
Epoch [1700/2000], Loss: 0.1534
Epoch [1750/2000], Loss: 0.1550
Epoch [1800/2000], Loss: 0.1556
Epoch [1850/2000], Loss: 0.1532
Epoch [1900/2000], Loss: 0.1524
Epoch [1950/2000], Loss: 0.1537
Epoch [2000/2000], Loss: 0.1546

In [78]:
# Test loop and metrics calculation
model.eval()
with torch.no_grad():
    test_output = model(X_test)
    test_output = torch.sigmoid(test_output)
    predicted = test_output.round().numpy()
    y_test_numpy = y_test.numpy()

from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Calculate metrics
accuracy = accuracy_score(y_test_numpy, predicted)
precision = precision_score(y_test_numpy, predicted)
recall = recall_score(y_test_numpy, predicted)
f1 = f1_score(y_test_numpy, predicted)

# Print metrics
print(f'Accuracy: {accuracy:.4f}')
print(f'Precision: {precision:.4f}')
print(f'Recall: {recall:.4f}')
print(f'F1 Score: {f1:.4f}')

# First 10 outputs
print("First 10 outputs:", y_test[:10])

# Example output
print("Final output predictions:", predicted[:10])  # Print the first 10 predictions for inspection

Accuracy: 0.5000
Precision: 0.5000
Recall: 1.0000
F1 Score: 0.6667
First 10 outputs: tensor([[0.],
        [0.],
        [0.],
        [0.],
        [1.],
        [0.],
        [1.],
        [1.],
        [0.],
        [1.]])
Final output predictions: [[1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]]